<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/room.css">
    <link rel="stylesheet" href="/assets/css/home.css">
    <style>
        video {
            display: none;
        }
    </style>
</head>

<body>
    <!-- Header start -->
    <div class="header">
        <!-- logo -->
        <div class="header-section">
            <a href="./home.html">
                <img class="header-img-1" src="./assets/img/title-icon/logo.png" alt="">
                <img class="header-img-2" src="./assets/img/logo/logo1.png" alt="">
            </a>
        </div>
        <!-- navigation -->
        <div class="nav-section">
            <div class="nav-content">
                <div class="nav-item-list">
                    <li class="nav-item">
                        <button class="nav-btn">Đăng nhập</button>
                    </li>

                    <li class="nav-item">
                        <button class="nav-btn">Đăng ký</button>
                    </li>

                    <!-- <li class="nav-item">
                        <a href="#" class="nav-btn">Liên hệ</a>
                    </li> -->

                </div>
            </div>
        </div>
    </div>
    <!-- Header end -->
    <!-- Content start -->
    <div class="content">
        <div class="call-section">
            <div class="video container">
                <video src="" class="flex-obj" muted id="localStream" controls></video>
                <video src="" class="flex-obj" id="remoteStream" controls></video>
            </div>
            <div class="container">
                <div class="User-info flex-obj row">
                    <h2 id="myname">Username: Guest</h2>
                    <h2 id="myId">Id: </h2>
                </div>
                <div class="id-call flex-obj row">
                    <div class="id-call-item">
                        <input type="text" placeholder="Your friend ID" required id="txtFriendId">
                    </div>
                    <div class="id-call-item call-btn">
                        <button id="btnCall" class="Connect">Connect</button>
                        <button id="btnHangout" class="Disconnect">Disconnect</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content end -->

    <script src="bundle.js"></script>
</body>

</html>