<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
</head>

<body>
    <h1 id="myId">My id: </h1>
    <video id="localStream" width="300" controls></video>
    <video id="remoteStream" width="300" controls></video>
    <input type="text" id="txtFriendId">
    <button id="btnCall">Call</button>
    <script src="bundle.js"></script>
</body>

</html>